/* FONTS STYLES
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS VARIABLES */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
}

/* GLOBAL STYLES */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.sub-heading-color {
  color: var(--highlight-color);
}

/* NAVBAR STYLE */

#navbar {
  background-color: var(--primary-color);
}

#navbar .logo {
  width: 30px;
}

/* TEMP CODE TO VISUALISE GRIDS */
/* .container,
.row {
  border: 1px solid black;
}

.col-12,
.col-xl-6 {
  border: 1px solid yellow;
  background-color: lightgray;
} */
