/* FONTS STYLES

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;} */

body {
  background-color: pink;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Macondo", cursive;
}
